
body{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Brooklyn_Museum_22.1771_Elephant_Mask_GlaoKlolo_%283%29.jpg/800px-Brooklyn_Museum_22.1771_Elephant_Mask_GlaoKlolo_%283%29.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.form-group{
    width:100%;
    overflow:-hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px 
}