body{
    background-color:grey;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Brooklyn_Museum_1998.36_Mask_Bo_Nun_Amuin.jpg/1024px-Brooklyn_Museum_1998.36_Mask_Bo_Nun_Amuin.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    color:white;
}
h1{
    font-style: italic;
    text-decoration:underline;
    font-size: 80px;
    padding:30px;

}
h2{
    text-decoration: underline;
    font-size:40px;
}



